body {
        font-size: 100%;
		font-family: 'Arimo', sans-serif;
		text-align: left;
        margin-left: 15%;
        margin-right: 15%;
        background-color: #E6E6E6;
}

#wrapper{
    width: 960px;
    margin: auto;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}

#banner{
    border: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

#Booker {
    border: double;
    margin-bottom: 20px;
}

#Visitor {
    border: double;
    margin-bottom: 20px;
}

#Campsite {
    border: double;
    margin-bottom: 20px;
}

#Item {
    border: double;
    margin-bottom: 20px;
}

#Details {
    border: double;
}

.lblCampsiteConfirm {
    color: red;
}

.lblItemConfirm {
    color: red;
}