#comment-container{
    
}

#comment-container .content-wrapper{
    width: 100%;
    height: 90%;
}

#comment-container .controls-wrapper{
    width: 100%;
    height: 10%;
}

#comment-container .content-wrapper .comment-wrapper{
    width: 920px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #808080;
}