.post-item-wrapper{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border: 1px solid #808080;
}

.post-item-wrapper.small{
    height: 200px;
}

.post-content-wrapper{
    width: 100%;
    height: 70%;
    /*padding: 10px;*/
}

.post-image{
    width: 550px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.post-title-wrapper{
    width: 100%;
    height: 15%;
}

.post-content{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.post-title{
    margin: 0;
}

.post-controls-wrapper{
    width: 100%;
    height: 15%;
    border-top: 1px solid #808080;
}

.post-like-button{
    float: left;
}

.post-likeamount{
    float: left;
    margin-right: 10px;
}